<a href="https://colab.research.google.com/github/muskan628/Python-Projects/blob/main/E_Commerce_Sales_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd

#Uploading dataset
dataset=pd.read_csv("sales_data.csv")
print(f"Dataset: \n{dataset}\n")

#checking missing values
print(f"Null values: \n{dataset.isnull().sum()}\n")

#filling null value with average
dataset["Shipping_Fee"]=dataset["Shipping_Fee"].fillna(dataset["Shipping_Fee"].mean())

#after filling the missing value
print(f"Dataset after filling the missing value: \n{dataset}\n")

#filtering the dataset
print(f"Total Sales more than $500: \n{dataset[dataset['Total_Sales']>500]}\n")

#Produnt Performance Analysis(highest revenve)
group_data=dataset.groupby("Category")
total_sales=group_data['Total_Sales'].sum()
print(f"Category Performance according to total sales: \n{total_sales.sort_values(ascending=False)}\n")

#Logistic and Shipping
avg_shipping_fee=group_data['Shipping_Fee'].mean()
print(f"Average Shipping fee for each category: \n{avg_shipping_fee.sort_values(ascending=False)}\n")

#Reporting and Satkeholders(save in excel file)
report = pd.DataFrame({
    "Total_Sales": total_sales,
    "Average_Shipping_Fee": avg_shipping_fee
})
print(report)

report.to_excel("report.xlsx",sheet_name="report")
print("\nCleaned and summerizied data saved to report.xlsx")

Dataset:
   Order_ID  Customer_Name         Product        Category  Quantity  \
0       101       John Doe          Laptop     Electronics         2
1       102     Jane Smith      Smartphone     Electronics         1
2       103      Mike Ross  Coffee Machine  Home & Kitchen         3
3       104   Rachel Green         T-Shirt        Clothing         4
4       105  Monica Geller        Lipstick          Beauty         2

   Unit_Price  Shipping_Fee  Total_Sales
0        1200          50.0         2450
1         800          20.0          820
2         200           NaN          600
3          25          10.0          110
4          15           5.0           35

Null values:
Order_ID         0
Customer_Name    0
Product          0
Category         0
Quantity         0
Unit_Price       0
Shipping_Fee     1
Total_Sales      0
dtype: int64

Dataset after filling the missing value:
   Order_ID  Customer_Name         Product        Category  Quantity  \
0       101       John Doe          Laptop     Electronics         2
1       102     Jane Smith      Smartphone     Electronics         1
2       103      Mike Ross  Coffee Machine  Home & Kitchen         3
3       104   Rachel Green         T-Shirt        Clothing         4
4       105  Monica Geller        Lipstick          Beauty         2

   Unit_Price  Shipping_Fee  Total_Sales
0        1200         50.00         2450
1         800         20.00          820
2         200         21.25          600
3          25         10.00          110
4          15          5.00           35

Total Sales more than $500:
   Order_ID Customer_Name         Product        Category  Quantity  \
0       101      John Doe          Laptop     Electronics         2
1       102    Jane Smith      Smartphone     Electronics         1
2       103     Mike Ross  Coffee Machine  Home & Kitchen         3

   Unit_Price  Shipping_Fee  Total_Sales
0        1200         50.00         2450
1         800         20.00          820
2         200         21.25          600

Category Performance according to total sales:
Category
Electronics       3270
Home & Kitchen     600
Clothing           110
Beauty              35
Name: Total_Sales, dtype: int64

Average Shipping fee for each category:
Category
Electronics       35.00
Home & Kitchen    21.25
Clothing          10.00
Beauty             5.00
Name: Shipping_Fee, dtype: float64

                Total_Sales  Average_Shipping_Fee
Category
Beauty                   35                  5.00
Clothing                110                 10.00
Electronics            3270                 35.00
Home & Kitchen          600                 21.25

Cleaned and summerizied data saved to report.xlsx